---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20
ColumnLimit: 100
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
NamespaceIndentation: None
FixNamespaceComments: true
CompactNamespaces: false
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
PackConstructorInitializers: NextLine
Cpp11BracedListStyle: true
EmptyLineBeforeAccessModifier: LogicalBlock
IndentCaseLabels: false
IndentPPDirectives: None
InsertNewlineAtEOF: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
SeparateDefinitionBlocks: Always
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeIsMainRegex: '(_test)?$'
IncludeCategories:
  - Regex: '^"'
    Priority: 1
  - Regex: '^<(SDL3|sol|lua|miniaudio|nlohmann|fmt|stb|gtest|gmock)'
    Priority: 2
  - Regex: '^<'
    Priority: 3
...
